
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
.website-name{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size:x-large;
}
.name-box{
    text-decoration: none;
}
.mybooking{
    text-decoration: none;
    color: #BD7C53;
}
.mybooking:hover{
    color: #BD7C53;
}