.bookingDetailsPage{
    overflow-x: hidden ;
}
.tourist-intro-container{
    border: 1px solid #BD7C53;
    border-radius: 10px;
}
.check-inout-container{
    border-radius: 10px;
    background-color: #c4865f;
    color:white;
}
.room-details{
    background-color: #ca8c66;
    color: white;
    border: 20px;
}
.service-button{
    border: 2px solid #BD7C53;

}
.service-button:hover{
    border: 2px solid wheat;
    color: wheat;
    background-color: #c4865f;
    
}