
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.topbanner{

}

.banner-quote{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.banner-quote2{
    font-size: 60px;
}