.specificroom-container{
    border-radius: 20px;
    background-color: rgba(247, 233, 233, 0.76);
}
.room-name {
    border: 0;
    padding: 2px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 500;
}