.specificroom-container{
    background-color: #e2b792;
    border-radius: 20px;
}
.room-name {
    border: 0;
    padding: 2px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 500;
}